.questionnaire_container {
  flex: 1 1 50%;

  > ul {
    padding: 0;
    margin-top: 30px;
    list-style-type: none;

    > li {
      margin-bottom: 41px;

      > label input {
        font-size: 0.75em;
        height: 50px;
        width: 100%;

        border: 0;
        border-radius: 3px;
        margin-top: 8px;
        text-indent: 15px;
      }
    }
  }
}